{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo List</title>
  <link rel="shortcut icon" href="{% static 'todo/img/logo.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'todo/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
  
</head>

<body>

  <!-- Mobile Navigation -->
  <section id="sidenav">
    <a id="close_button" onclick="closeNav()">
      <i class="fa fa-close"></i>
    </a>
    <a href="{% url 'todo:index' %}">Home</a>
    <a href="{% url 'todo:add_todo' %}">Add New ToDo</a>
    <a href="{% url 'todo:about' %}">About</a>
  </section>

  <!-- Background -->
  <section id="background">
    <div class="wrap">
      <!-- Navigation Bar -->
      <nav>
        <section class="brand">
          <img src="{% static 'todo/img/logo.svg' %}" alt="Logo" id="logo">
          <a href="{% url 'todo:index' %}" id="brand_title">ToDo List</a>
          <span id="left-nav">
            <a href="{% url 'todo:add_todo' %}">Add New ToDo</a>
          </span>
        </section>
        <section id="right_nav">
          <a href="{% url 'todo:about' %}">About</a>
          <a id="open_nav_btn" onclick="openNav()">
            <i class="fa fa-bars"></i>
          </a>
        </section>
      </nav>
    </div>

    <!-- Main Section -->
    {% block main %} {% endblock main %}


  </section>

  <script src="{% static '/todo/js/main.js' %}"></script>
</body>

</html>