{% extends "todo/base.html" %}

{% block main %}

<!-- Main Section -->
<main>
    <div class="wrap">
        <section id="auth">
            <div id="login">
                <h3>Log In</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Log In" class="btn btn_success">
                </form>
                <p>
                    Don't have an account? <br>
                    <a href="">Register Here</a>
                </p>

            </div>
        </section>
    </div>
</main>
</div>
<!-- Footer -->
<footer>
    <p>
        Designed and Developed by <a href="">Antonio Maina</a>. &copy; 2017.
    </p>
</footer>

{% endblock main %}