{% extends "todo/base.html" %}
{% load static %}
{% block main %}

<main>
    <section id="profile">
        <img src="{% static 'todo/img/dp.png' %}" alt="dp"><br>
        <a href="">{{ user.username }}</a>
        <form action="">
            <label for="username">Username:</label><br>
            <input type="text" name="username" id="username" value="antonio">
            <br>
            <label for="email_address">Email Address:</label>
            <br>
            <input type="email" name="email_address" id="email_address" value="antoniomainakn@gmail.com">
            <br>
            <input type="button" value="Update Profile" class="btn btn_success">
            <input type="button" value="Change Password" class="btn btn_success">
            <br>
            <button class="btn btn_danger">Delete Account</button>
        </form>
    </section>
</main>
<!-- Footer -->
<footer>
    <p>
        Designed and Developed by <a href="">Antonio Maina</a>. &copy; 2017.
    </p>
</footer>

{% endblock main %}